.hide-preview-contents .tree-item-inner.nav-file-details,
.hide-preview-contents .nav-file-properties,
.hide-preview-contents .tree-item-inner.nav-file-img {
	display: none;
}

.file-preview-nav:not(.hide-preview-contents)
	.tree-item-self.nav-file-title[data-path$=".md"]:has(> .nav-file-details) {
	flex-direction: column;
	gap: 2px;
	overflow: hidden;
}

.file-preview-nav:not(.hide-preview-contents)
	.tree-item-self.nav-file-title::before {
	content: none;
}

.file-preview-nav:not(.hide-preview-contents)
	.tree-item-self.nav-file-title:has(> .nav-file-details)
	.tree-item-inner.nav-file-title-content {
	flex: 1;
	width: 100%;
	font-weight: 500;
}

.file-preview-nav:not(.hide-preview-contents)
	.tree-item-self.nav-file-title.is-active
	.tree-item-inner.nav-file-details,
.file-preview-nav:not(.hide-preview-contents)
	.tree-item-self.nav-file-title
	.tree-item-inner.nav-file-details,
.file-preview-nav:not(.hide-preview-contents)
	.tree-item-self.nav-file-title.is-active
	.nav-file-properties,
.file-preview-nav:not(.hide-preview-contents)
	.tree-item-self.nav-file-title
	.nav-file-properties {
	display: -webkit-box;
	white-space: normal;
	word-break: break-all;
	color: var(--nav-item-color);
	font-size: var(--font-ui-smaller);
	font-weight: 400;
	-webkit-box-orient: vertical;
}

/* Adaptation plugin novel-word-count's Right-aligned */
.file-preview-nav:not(.hide-preview-contents).novel-word-count--note-right
	.nav-files-container
	.nav-file-title::after {
	margin-left: auto;
}

.file-preview-nav:not(.hide-preview-contents)
	.file-preview-show-img.tree-item.nav-file:has(
		.tree-item-inner.nav-file-details
	) {
	display: grid;
	grid-template-columns: 4fr minmax(8rem, 1fr);
	margin: 2px 0;
}

.file-preview-nav:not(.hide-preview-contents)
	.file-preview-show-img.tree-item.nav-file
	.tree-item-inner.nav-file-title-content {
	width: 100%;
	height: 1.6em;
	min-height: 1.6em;
	max-height: 1.6em;
}

.file-preview-nav:not(.hide-preview-contents)
	.file-preview-show-img
	.tree-item-inner.tree-item-inner.nav-file-img {
	display: flex;
	margin: 10px;
	border-radius: var(--radius-s);
	align-items: center;
}

.file-preview-nav:not(.hide-preview-contents)
	.file-preview-show-img
	.tree-item-inner.tree-item-inner.nav-file-img
	.preview-img {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}
/* 将原来的背景和边框隐藏，移动到子元素的背景和边框上 */
body:not(.is-grabbing)
	.file-preview-nav:not(.hide-preview-contents)
	.file-preview-show-img
	.tree-item-self.is-clickable:hover,
body .tree-item-self.is-clickable.nav-file-title.is-active,
body .tree-item-self.is-clickable.nav-file-title:hover {
	background-color: unset;
}
body:not(.is-phone)
	.workspace-leaf.mod-active
	.file-preview-nav:not(.hide-preview-contents)
	.tree-item.nav-file
	.tree-item-self.has-focus {
	box-shadow: unset;
}
.file-preview-nav:not(.hide-preview-contents) .tree-item.nav-file:hover,
.file-preview-nav:not(.hide-preview-contents)
	.tree-item.nav-file:has(> .nav-file-title.is-active) {
	background-color: var(--nav-item-background-active);
	border-radius: var(--radius-s);
}

.file-preview-nav:not(.hide-preview-contents)
	.tree-item.nav-file:has(> .nav-file-title.has-focus) {
	box-shadow: 0 0 0 2px var(--background-modifier-border-focus);
}

.file-preview-nav:not(.hide-preview-contents)
	.file-preview-show-img.tree-item.nav-file
	.tree-item-children {
	display: none;
}

.file-preview-nav:not(.hide-preview-contents) .nav-file-properties {
	margin-top: 0.25rem;
}
